body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


td {
  padding: 15px;
  text-align: left;
}

label {
  font-weight: bold;
  color: purple;
}

table {
  background-color: lightcyan;
}

.center {
  margin: auto;
  width: 50%;
}

.posts {
  margin: auto;
  width: 50%;
}

